<section class="section-about section-bg-cover"> 
  <div class="about-inner">
    <div class="about2">
      <div class="block">
        <h2>About us</h2>
        <p>Welcome to Prospect Medical Group, an independent physician association (IPA) managed by Prospect Medical Systems.
          Our network consists of highly qualified primary care and specialty physicians, and we are affiliated with the
          best hospitals in Orange County.</p>
        <p class="full-opacity">With Prospect Medical Group, you have access to more than 600 primary care physicians and more than 1,000 specialists.
          You’re sure to find the doctors that are right for you.</p>
        <p class="padding-1">Prospect Medical Group has a long history as a respected leader in managed healthcare. For three decades, we have
          provided quality care and outstanding service to our members. </p>
        <p class="padding-1">
          We support the use of advanced diagnostic and treatment tools to provide our members with convenient access to state-of-the-art
          healthcare. Our pledge to members is that we will give you exceptional care delivered by compassionate physicians,
          who have a strong commitment to each and every patient. 
        </p>
        <p class="padding-2">Our physicians work closely with teams of skilled nurses
                and other healthcare professionals.</p> 
        <p class="full-opacity">Our focus is on your health and well-being.</p>
        <p class="padding-2">All of our support services, including care management, referrals for specialty care, customer service, and health
          education resources are handled by our management service organization, Prospect Medical Systems. </p>
        <p class="full-opacity">This support gives our doctors the freedom to do what they do best: care for you.</p>
        <p>Prospect Medical Group contracts with most major health plans, and we serve all product lines, including commercial,
          Medicare, Medicaid, Medicare/Medicaid (Medi-Medi) and Health Insurance Exchange.</p>
        <p>To further improve the health of the communities we serve, we also offer comprehensive health education classes and
          support services through our numerous outreach programs. </p>
      </div>
      <div class="block">
        <h2>History</h2>
        <p class="padding-1">Prospect Medical Group was formed in 1985—thanks to a small group of physicians in Northern Orange County who shared
          a passion for delivering quality healthcare. What was true 30 years ago remains just as true today: Prospect places
          an emphasis on delivering exceptional medical care, helps members get maximum value from their insurance coverage,
          and offers exclusive services to its members.</p>
        <p>
          In 1996, Prospect Medical Systems, the group’s management service organization, was created to develop, implement and manage
          a full range of services designed to simplify the relationship between doctor and patient. That same year, Prospect
          Medical Holdings, Inc. was formed as the parent company of Prospect Medical Systems. This has enabled Prospect
          Medical Group to grow the number of providers and services that we offer our patients.</p>
        <p class="full-opacity">Today, Prospect Medical Group is made up of more than 600 primary care physicians and more than 1,000 specialists,
          and is affiliated with some of the best hospitals in Orange County.</p>
      </div>
      <div class="block">
        <h2>Mission statement</h2>

        <h3>Mission</h3>
        <p class="padding-3">
          We are medical groups and physicians working closely together with hospitals, clinics and other healthcare providers for
          the benefit of every person who comes to us for care. We provide quality healthcare services that are designed
          to offer our patients highly coordinated, personalized care and help them live healthier lives. Through collaboration,
          we strive to provide all of our patients and medical group members with the quality, affordable healthcare they
          need and deserve.</p>
        <h3>PHILOSOPHY</h3>
        <p class="padding-1">To ensure that our patients receive the right care, at the right time, in the right setting, with efficiency and
          compassion.
        </p>
      </div>

      <div class="block">
        <h2>WHY CHOOSE PROSPECT</h2>
        <p class="full-opacity">We understand that your health is one of the most important things in your life. Who you entrust to provide your
          healthcare is not an easy decision to make.</p>
        <p>We at Prospect Medical Group pride ourselves on offering high-quality care throughout our expansive network. Prospect
          partners with quality physicians and most major health plans to provide you and your family with services that
          meet your needs.</p>
        <p class="padding-1">Prospect provides you with:</p>

        <ul class="reasons-list">
          <li>Extensive primary care and specialist physician network</li>
          <li>Direct referrals to specialty care</li>
          <li>Access to urgent care centers</li>
          <li>Patient education</li>
          <li>Senior-specific health education (for members who are Medicare eligible)</li>
          <li>Convenient online Patient Neighborhood</li>
          <li>Comprehensive Care Plus Programs</li>
          <li>Transportation services to medical appointments</li>
          <li>Home healthcare services, if needed</li>
          <li>Palliative home care for you and your family</li>
          <li>Online access to healthier living tools and tips</li>
          <li>And much more</li>
        </ul>
        <p class="padding-1">
          These features have earned Prospect Medical the “Elite” status quality award for the last five years from CAPG, the largest
          national organization representing physician organizations. We are recognized for our commitment to enhancing the
          health of our patients, providing superior service, delivering outstanding value, embracing clinical innovation,
          and supporting a knowledgeable and caring staff.</p>
        <p>We contract with most major health plans and serve all product lines, including Commercial, Medicare, Medicaid, Medicare/Medicaid
          (Medi-Medi) and Health Insurance Exchange.</p>
      </div> 
      <div class="spacer-1"></div>
      <a href="tel:+8007083230" class="contact-link">
        <img src="../../assets/images/call-btn.jpg" alt="contact">
      </a>
      <p class="type-2">Join us today, and start receiving the healthcare you deserve. Call us at 800-708-3230. One of our helpful and friendly
        representatives will personally assist you with everything you need to become a member of the Prospect family.</p>
        <div class="spacer-about"></div>
    </div>

  </div>
</section>
