.section-home {
  background-image: url(../images/home-banner.jpg);
  min-height: 1767px;
  .about {
    clear: both;
    padding-top: 350px;
    justify-content: space-around;
    display: flex;
    .sub-title {
      font-size: 30px;
      padding-bottom: 20px
    }
    .par-2.reg-paragraph {
      margin-bottom: 7px;
      margin-top: 54px;
    }
    .par-3.reg-paragraph {
      margin-bottom: 5px;
      margin-top: 16px;
    }
    .par-4.reg-paragraph {
      padding-top: 38px;
    }
    .reg-paragraph.par-5 {
      margin-top: 1px;
      margin-bottom: 24px;
    }
    .reg-paragraph {
      margin-bottom: 17px;
    }
    .left {
      padding-left: 100px;
      padding-top: 164px;
      .logo {
        width: 380px;
        padding-top: 210px;
      }
    }
    .right {
      width: 685px;
      float: right;
    }
  }
}

.banner-inner {
  float: left;
  width: 100%
}

.banner-container {
  max-width: 1340px;
  margin: 0 auto;
  width: 100%;
}

.par-regular.reg-paragraph {
  opacity: 1;
}

.banner-description {
  text-align: left;
  p {
    font-size: 60px;
    font-family: inherit;
    font-weight: 300;
    margin: 0;
    padding-bottom: 4px;
  }
  .bolded {
    font-weight: 900
  }
}

.banner-info {
  float: left;
  margin-top: 450px;
  margin-left: 50px;
  .btn-link {
    width: 260px;
  }
}

.btn-link {
  color: $color1;
  display: block;
  border: 2px solid $color1;
  font-size: 14px;
  padding: 15px 20px 14px;
  text-decoration: none;
  border-radius: 2px;
  &:hover {
    background: $color1;
    color: white
  }
}

.btn-places {
  display: inline-flex;
  padding-top: 27px;
  .btn-link:first-child {
    margin-right: 10px;
  }
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  a {
    text-decoration: none
  }
}

@media only screen and (max-width: 1260px) {
  .section-home .about .right {
    float: none;
    clear: both;
    margin: 0 auto
  }
  .about {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 970px) {
 .banner-container {
    padding: 0 25px;
 } 
 .banner-info {
    margin-left: 0;
 }
  .section-home {
    .about {
      flex-wrap: wrap;
      padding-bottom: 69px;
      padding-right: 0;
      padding-top: 0;
      .right {
        padding-top: 50px;
        width: 100%;
      }
      .left {
        padding-bottom: 50px;
        padding-left: 0;
        margin-right: auto;
      }
    }
  }
}

@media only screen and (max-width: 873px) {
  .banner-info {
    margin-top: 950px;
  }
  .section-home {
    background-image: url(../images/home-banner-830.jpg);
    min-height: 1443px
  }
}
@media only screen and (max-width: 580px) { 
    .banner-description {
        p {
           font-size: 40px;
        }
    } 
     
    .banner-info .btn-link {
        width: 150px;
        font-size: 12px;
        padding: 15px 13px 14px;
    }
}

@media only screen and (max-width: 558px) { 
    .section-home {
        background-image: url(../images/home-banner-558.jpg);
        min-height: 854px;
        .about .left {
             padding-top: 130px;
        }
    }
    .banner-info {
        margin-top: 700px;
    }
    
}
@media only screen and (max-width: 480px) {
    .section-home .about .left{
        width: 300px;
        padding-top: 105px;
        img {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 360px) {
  .section-home {
    background-image: url(../images/home-banner-360.jpg);
    min-height: 595px;
    .about {
        padding-bottom: 35px;
        .left { 
            padding-top: 70px;
            padding-bottom: 20px;
            width: 280px
        }
        .sub-title {
            font-size: 20px; 
        }
    } 
  }
  .banner-description p {
        font-size: 20px;
  }
  .banner-info {
    margin-top: 325px;
  }
  .btn-places { 
    padding-top: 7px;
  }
   
}
