<section class="section-home section-bg-cover">
  <div class="banner-inner">
    <div class="banner-info">
      <div class="banner-description">
        <p>QUALITY CARE</p>
        <p class="bolded">COMPASSIONATE</p>
        <p>PHYSICIANS</p>
      </div>
      <div class="btn-places">
        <a class="btn-link" href="/#/members/">MEMBERS & GUESTS</a>
        <a class="btn-link" href="javascript:void(0)">PROVIDERS</a>
      </div>
    </div>
    <div class="about">
      <div class="left">
        <img src="../../assets/images/logo.png">
      </div>
      <div class="right">
        <h5 class="sub-title">about us</h5>
        <p class="reg-paragraph">
          Welcome to Prospect Medical Group, an independent physician association (IPA) managed by Prospect Medical Systems.
          <br> Our network consists of highly qualified primary care and specialty physicians, and we are affiliated with the
          best hospitals in Orange County.
        </p>
        <p class="reg-paragraph par-regular par-2">
          With Prospect Medical Group, you have access to more than 600 primary care physicians and more than 1,000 specialists. You’re
          sure to find the doctors that are right for you.
        </p>
        <p class="reg-paragraph">
          Prospect Medical Group has a long history as a respected leader in managed healthcare. For three decades, we have pro vided
          quality care and outstanding service to our members.
        </p>
        <p class="reg-paragraph par-3">
          We support the use of advanced diagnostic and treatment tools to provide our members with convenient access to state-of-the-art
          healthcare. Our pledge to members is that we will give you exceptional care delivered by compassionate physicians,
          who have a strong commitment to each and every patient.
        </p>
        <p class="reg-paragraph">
          Our physicians work closely with teams of skilled nurses and other healthcare professionals
        </p>
        <p class="reg-paragraph par-regular par-4">Our focus is on your health and well-being.</p>
        <p class="reg-paragraph" style="padding-bottom: 0; margin-bottom: 0;">
          All of our support services, including care management, referrals for specialty care, customer service, and health education
          resources are handled by our management service organization, Prospect Medical Systems.
        </p>

        <p class="reg-paragraph par-regular par-5">
          This support gives our doctors the freedom to do what they do best: care for you.
        </p>
        <p class="reg-paragraph">
          Prospect Medical Group contracts with most major health plans, and we serve all product lines, including commercial, Medicare,
          Medicaid, Medicare/Medicaid (Medi-Medi) and Health Insurance Exchange.
        </p>
        <p class="reg-paragraph">
          To further improve the health of the communities we serve, we also offer comprehensive health education classes and support
          services through our numerous outreach programs.
        </p>
      </div>
    </div>
  </div>
</section>
