<header data-scroll-index="1">
    <nav class="nav-bar">
        <div class="logo"></div>
        <ul class="nav sidemenu">
            <li>
                <a class="menu-item" data-id="home" href="javascript:void(0)">Home</a>
            </li>
            <li>
                <a class="menu-item" data-id="about-us" href="javascript:void(0)">About us</a>
            </li>
            <li>
                <a class="menu-item" data-id="carrers" href="javascript:void(0)">CAREERS</a>
            </li>
            <li>
                <a class="menu-item" data-id="contacts" href="javascript:void(0)">CONTACT US</a>
            </li>
            <li>
                <a class="menu-item" data-id="members" href="javascript:void(0)">MEMBERS & GUESTS</a>
            </li>
            <li>
                <a class="menu-item" data-id="health-plan" href="javascript:void(0)">Health plans</a>
            </li>
        </ul>
    </nav>
    <!--MOBILE DROPDOWN-->

  <!--   <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span> -->
    <div class="hamburger hamburger--slider">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>

    <div class="overlay" id="overlay">
        <nav class="overlay-menu">
            <ul>
                <li>
                    <a class="menu-item" data-id="home" href="/">Home</a>
                </li>
                <li>
                    <a class="menu-item" data-id="about-us" href="javascript:void(0)">About us</a>
                </li>
                <li>
                    <a class="menu-item" data-id="carrers" href="javascript:void(0)">CAREERS</a>
                </li>
                <li>
                    <a class="menu-item" data-id="contacts" href="javascript:void(0)">CONTACT US</a>
                </li>
                <li>
                    <a class="menu-item" data-id="members" href="javascript:void(0)">MEMBERS & GUESTS</a>
                </li>
                <li>
                    <a class="menu-item" data-id="health-plan" href="javascript:void(0)">Health plans</a>
                </li>
            </ul>
        </nav>
    </div>
    <!--MOBILE DROPDOWN-->
</header>