<section class="section-members">
    <div class="panel-outer">
        <div class="members-inner">
            <div class="accordion">Find a provider</div>
            <div class="panel">
                <div class="panel-inner-block">
                    <p> 
                        <div class="panel">
                            <div class="panel-inner-block">
                                <p>
                                    You can search for a primary care (PCP) or a specialty physician by location, specialty or language. Or if you prefer, you
                                    can call Prospect Medical at 800-708-3230 for a referral to a physician that best suits
                                    your needs.
                                </p>
                                <p class="parag-margin">
                                    Your PCP is your main doctor who will see you for check-ups and routine care. The PCP works with you and your health network
                                    or medical group as part of your team to help coordinate your healthcare services. These
                                    services may include:
                                </p>

                                <h5 class="list-title">Prospect provides you with:</h5>
                                <ul>
                                    <li>Specialist referrals</li>
                                    <li>Lab tests</li>
                                    <li>Outpatient referrals or services</li>
                                    <li>Medical supply requests</li>
                                    <li>Other healthcare services necessary for your care</li>
                                </ul>

                                <p>
                                    If an authorization is needed for a referral or request, it will be sent by your physician to Prospect’s Utilization Management
                                    Department for approval. Most requests are received back within five business days and
                                    many can be approved the same day.

                                </p>
                                <p style="margin: 19px 0;">
                                    Once you select a PCP, you should call the office to make an appointment. The initial visit should help you get to know the
                                    doctor, and your doctor to know you.

                                </p>
                                <p class="parag-margin">
                                    If at any time you want to change PCPs, or would like guidance selecting a new PCP, you can do so by calling your health
                                    plan or our Customer Service Team at 800-708-3230, 8 a.m. to 5 p.m. Pacific Time, Monday
                                    through Friday. You can also use this search tool.

                                </p>
                                <p class="no-margin-p">
                                    To search for provider clinical performance data, please follow this link to Medicare.gov.
                                </p>
                            </div>
                            <div class="panel-spacer"></div>
                        </div>
                    </p>
                    <p class="parag-margin">
                        Your PCP is your main doctor who will see you for check-ups and routine care. The PCP works with you and your health network
                        or medical group as part of your team to help coordinate your healthcare services. These services
                        may include:
                    </p>

                    <h5 class="list-title">Prospect provides you with:</h5>
                    <ul>
                        <li>Specialist referrals</li>
                        <li>Lab tests</li>
                        <li>Outpatient referrals or services</li>
                        <li>Medical supply requests</li>
                        <li>Other healthcare services necessary for your care</li>
                    </ul>

                    <p>
                        If an authorization is needed for a referral or request, it will be sent by your physician to Prospect’s Utilization Management
                        Department for approval. Most requests are received back within five business days and many can be
                        approved the same day.

                    </p>
                    <p style="margin: 19px 0;">
                        Once you select a PCP, you should call the office to make an appointment. The initial visit should help you get to know the
                        doctor, and your doctor to know you.

                    </p>
                    <p class="parag-margin">
                        If at any time you want to change PCPs, or would like guidance selecting a new PCP, you can do so by calling your health
                        plan or our Customer Service Team at 800-708-3230, 8 a.m. to 5 p.m. Pacific Time, Monday through
                        Friday. You can also use this search tool.

                    </p>
                    <p class="no-margin-p">
                        To search for provider clinical performance data, please follow this link to Medicare.gov.
                    </p>
                </div>
                <div class="panel-spacer"></div>
            </div>
            <div class="accordion">Find a doctor</div>
            <div class="panel">
                <div class="panel-inner-block">
                    <p>
                        You can search for a primary care (PCP) or a specialty physician by location, specialty or language. Or if you prefer, you
                        can call Prospect Medical at 800-708-3230 for a referral to a physician that best suits your needs.
                    </p>
                    <p class="parag-margin">
                        Your PCP is your main doctor who will see you for check-ups and routine care. The PCP works with you and your health network
                        or medical group as part of your team to help coordinate your healthcare services. These services
                        may include:
                    </p>

                    <h5 class="list-title">Prospect provides you with:</h5>
                    <ul>
                        <li>Specialist referrals</li>
                        <li>Lab tests</li>
                        <li>Outpatient referrals or services</li>
                        <li>Medical supply requests</li>
                        <li>Other healthcare services necessary for your care</li>
                    </ul>

                    <p>
                        If an authorization is needed for a referral or request, it will be sent by your physician to Prospect’s Utilization Management
                        Department for approval. Most requests are received back within five business days and many can be
                        approved the same day.

                    </p>
                    <p style="margin: 19px 0;">
                        Once you select a PCP, you should call the office to make an appointment. The initial visit should help you get to know the
                        doctor, and your doctor to know you.

                    </p>
                    <p class="parag-margin">
                        If at any time you want to change PCPs, or would like guidance selecting a new PCP, you can do so by calling your health
                        plan or our Customer Service Team at 800-708-3230, 8 a.m. to 5 p.m. Pacific Time, Monday through
                        Friday. You can also use this search tool.

                    </p>
                    <p class="no-margin-p">
                        To search for provider clinical performance data, please follow this link to Medicare.gov.
                    </p>
                </div>
                <div class="panel-spacer"></div>
            </div>

            <div class="accordion">Find an urgent care</div>
            <div class="panel">
                <div class="panel-inner-block">
                    <p>
                        <div class="panel">
                            <div class="panel-inner-block">
                                <p>
                                    You can search for a primary care (PCP) or a specialty physician by location, specialty or language. Or if you prefer, you
                                    can call Prospect Medical at 800-708-3230 for a referral to a physician that best suits
                                    your needs.
                                </p>
                                <p class="parag-margin">
                                    Your PCP is your main doctor who will see you for check-ups and routine care. The PCP works with you and your health network
                                    or medical group as part of your team to help coordinate your healthcare services. These
                                    services may include:
                                </p>

                                <h5 class="list-title">Prospect provides you with:</h5>
                                <ul>
                                    <li>Specialist referrals</li>
                                    <li>Lab tests</li>
                                    <li>Outpatient referrals or services</li>
                                    <li>Medical supply requests</li>
                                    <li>Other healthcare services necessary for your care</li>
                                </ul>

                                <p>
                                    If an authorization is needed for a referral or request, it will be sent by your physician to Prospect’s Utilization Management
                                    Department for approval. Most requests are received back within five business days and
                                    many can be approved the same day.

                                </p>
                                <p style="margin: 19px 0;">
                                    Once you select a PCP, you should call the office to make an appointment. The initial visit should help you get to know the
                                    doctor, and your doctor to know you.

                                </p>
                                <p class="parag-margin">
                                    If at any time you want to change PCPs, or would like guidance selecting a new PCP, you can do so by calling your health
                                    plan or our Customer Service Team at 800-708-3230, 8 a.m. to 5 p.m. Pacific Time, Monday
                                    through Friday. You can also use this search tool.

                                </p>
                                <p class="no-margin-p">
                                    To search for provider clinical performance data, please follow this link to Medicare.gov.
                                </p>
                            </div>
                            <div class="panel-spacer"></div>
                        </div>
                    </p>
                    <p class="parag-margin">
                        Your PCP is your main doctor who will see you for check-ups and routine care. The PCP works with you and your health network
                        or medical group as part of your team to help coordinate your healthcare services. These services
                        may include:
                    </p>

                    <h5 class="list-title">Prospect provides you with:</h5>
                    <ul>
                        <li>Specialist referrals</li>
                        <li>Lab tests</li>
                        <li>Outpatient referrals or services</li>
                        <li>Medical supply requests</li>
                        <li>Other healthcare services necessary for your care</li>
                    </ul>

                    <p>
                        If an authorization is needed for a referral or request, it will be sent by your physician to Prospect’s Utilization Management
                        Department for approval. Most requests are received back within five business days and many can be
                        approved the same day.

                    </p>
                    <p style="margin: 19px 0;">
                        Once you select a PCP, you should call the office to make an appointment. The initial visit should help you get to know the
                        doctor, and your doctor to know you.

                    </p>
                    <p class="parag-margin">
                        If at any time you want to change PCPs, or would like guidance selecting a new PCP, you can do so by calling your health
                        plan or our Customer Service Team at 800-708-3230, 8 a.m. to 5 p.m. Pacific Time, Monday through
                        Friday. You can also use this search tool.

                    </p>
                    <p class="no-margin-p">
                        To search for provider clinical performance data, please follow this link to Medicare.gov.
                    </p>
                </div>
                <div class="panel-spacer"></div>
            </div>

            <div class="accordion">Member info</div>
            <div class="panel">
                <div class="panel-inner-block">
                    <p>
                        <div class="panel">
                            <div class="panel-inner-block">
                                <p>
                                    You can search for a primary care (PCP) or a specialty physician by location, specialty or language. Or if you prefer, you
                                    can call Prospect Medical at 800-708-3230 for a referral to a physician that best suits
                                    your needs.
                                </p>
                                <p class="parag-margin">
                                    Your PCP is your main doctor who will see you for check-ups and routine care. The PCP works with you and your health network
                                    or medical group as part of your team to help coordinate your healthcare services. These
                                    services may include:
                                </p>

                                <h5 class="list-title">Prospect provides you with:</h5>
                                <ul>
                                    <li>Specialist referrals</li>
                                    <li>Lab tests</li>
                                    <li>Outpatient referrals or services</li>
                                    <li>Medical supply requests</li>
                                    <li>Other healthcare services necessary for your care</li>
                                </ul>

                                <p>
                                    If an authorization is needed for a referral or request, it will be sent by your physician to Prospect’s Utilization Management
                                    Department for approval. Most requests are received back within five business days and
                                    many can be approved the same day.

                                </p>
                                <p style="margin: 19px 0;">
                                    Once you select a PCP, you should call the office to make an appointment. The initial visit should help you get to know the
                                    doctor, and your doctor to know you.

                                </p>
                                <p class="parag-margin">
                                    If at any time you want to change PCPs, or would like guidance selecting a new PCP, you can do so by calling your health
                                    plan or our Customer Service Team at 800-708-3230, 8 a.m. to 5 p.m. Pacific Time, Monday
                                    through Friday. You can also use this search tool.

                                </p>
                                <p class="no-margin-p">
                                    To search for provider clinical performance data, please follow this link to Medicare.gov.
                                </p>
                            </div>
                            <div class="panel-spacer"></div>
                        </div>
                    </p>
                    <p class="parag-margin">
                        Your PCP is your main doctor who will see you for check-ups and routine care. The PCP works with you and your health network
                        or medical group as part of your team to help coordinate your healthcare services. These services
                        may include:
                    </p>

                    <h5 class="list-title">Prospect provides you with:</h5>
                    <ul>
                        <li>Specialist referrals</li>
                        <li>Lab tests</li>
                        <li>Outpatient referrals or services</li>
                        <li>Medical supply requests</li>
                        <li>Other healthcare services necessary for your care</li>
                    </ul>

                    <p>
                        If an authorization is needed for a referral or request, it will be sent by your physician to Prospect’s Utilization Management
                        Department for approval. Most requests are received back within five business days and many can be
                        approved the same day.

                    </p>
                    <p style="margin: 19px 0;">
                        Once you select a PCP, you should call the office to make an appointment. The initial visit should help you get to know the
                        doctor, and your doctor to know you.

                    </p>
                    <p class="parag-margin">
                        If at any time you want to change PCPs, or would like guidance selecting a new PCP, you can do so by calling your health
                        plan or our Customer Service Team at 800-708-3230, 8 a.m. to 5 p.m. Pacific Time, Monday through
                        Friday. You can also use this search tool.

                    </p>
                    <p class="no-margin-p">
                        To search for provider clinical performance data, please follow this link to Medicare.gov.
                    </p>
                </div>
                <div class="panel-spacer"></div>
            </div>

            <div class="accordion">Just for seniors</div>
            <div class="panel">
                <div class="panel-inner-block">
                    <p>
                        <div class="panel">
                            <div class="panel-inner-block">
                                <p>
                                    You can search for a primary care (PCP) or a specialty physician by location, specialty or language. Or if you prefer, you
                                    can call Prospect Medical at 800-708-3230 for a referral to a physician that best suits
                                    your needs.
                                </p>
                                <p class="parag-margin">
                                    Your PCP is your main doctor who will see you for check-ups and routine care. The PCP works with you and your health network
                                    or medical group as part of your team to help coordinate your healthcare services. These
                                    services may include:
                                </p>

                                <h5 class="list-title">Prospect provides you with:</h5>
                                <ul>
                                    <li>Specialist referrals</li>
                                    <li>Lab tests</li>
                                    <li>Outpatient referrals or services</li>
                                    <li>Medical supply requests</li>
                                    <li>Other healthcare services necessary for your care</li>
                                </ul>

                                <p>
                                    If an authorization is needed for a referral or request, it will be sent by your physician to Prospect’s Utilization Management
                                    Department for approval. Most requests are received back within five business days and
                                    many can be approved the same day.

                                </p>
                                <p style="margin: 19px 0;">
                                    Once you select a PCP, you should call the office to make an appointment. The initial visit should help you get to know the
                                    doctor, and your doctor to know you.

                                </p>
                                <p class="parag-margin">
                                    If at any time you want to change PCPs, or would like guidance selecting a new PCP, you can do so by calling your health
                                    plan or our Customer Service Team at 800-708-3230, 8 a.m. to 5 p.m. Pacific Time, Monday
                                    through Friday. You can also use this search tool.

                                </p>
                                <p class="no-margin-p">
                                    To search for provider clinical performance data, please follow this link to Medicare.gov.
                                </p>
                            </div>
                            <div class="panel-spacer"></div>
                        </div>
                    </p>
                    <p class="parag-margin">
                        Your PCP is your main doctor who will see you for check-ups and routine care. The PCP works with you and your health network
                        or medical group as part of your team to help coordinate your healthcare services. These services
                        may include:
                    </p>

                    <h5 class="list-title">Prospect provides you with:</h5>
                    <ul>
                        <li>Specialist referrals</li>
                        <li>Lab tests</li>
                        <li>Outpatient referrals or services</li>
                        <li>Medical supply requests</li>
                        <li>Other healthcare services necessary for your care</li>
                    </ul>

                    <p>
                        If an authorization is needed for a referral or request, it will be sent by your physician to Prospect’s Utilization Management
                        Department for approval. Most requests are received back within five business days and many can be
                        approved the same day.

                    </p>
                    <p style="margin: 19px 0;">
                        Once you select a PCP, you should call the office to make an appointment. The initial visit should help you get to know the
                        doctor, and your doctor to know you.

                    </p>
                    <p class="parag-margin">
                        If at any time you want to change PCPs, or would like guidance selecting a new PCP, you can do so by calling your health
                        plan or our Customer Service Team at 800-708-3230, 8 a.m. to 5 p.m. Pacific Time, Monday through
                        Friday. You can also use this search tool.

                    </p>
                    <p class="no-margin-p">
                        To search for provider clinical performance data, please follow this link to Medicare.gov.
                    </p>
                </div>
                <div class="panel-spacer"></div>
            </div> 
            <a class="link">Provider login</a>
        </div>
    </div>
    <div class="pre-footer-spacer pfs-1"></div>
</section>