<footer>
    <div class="footer-inner">
        <div class="americano"></div>
        <div class="blocks">
            <div class="footer-block-1">
                <h5 class="sub-title">About us</h5>
                <p class="reg-paragraph">
                    Welcome to Prospect Medical Group, an independent physician association (IPA) managed by Prospect Medical Systems. Our network
                    consists of highly qualified primary care and specialty physicians, and we are affiliated with the best
                    hospitals in Orange County.
                </p>
            </div>
            <div class="footer-block-2">
                <h5 class="sub-title">Our website</h5>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">ABOUT US</a>
                    </li>
                    <li>
                        <a href="">CAREERS</a>
                    </li>
                    <li>
                        <a href="">CONTACT US</a>
                    </li>
                    <li>
                        <a href="">MEMBERS & GUESTS</a>
                    </li>
                    <li>
                        <a href="">Health plans</a>
                    </li>
                </ul>
            </div>
            <div class="contact-form">
                <h5 class="sub-title">Contact us</h5>
                <form class="contact-form" id="form-contact-us" name="contact_form">
                    <input id="contact_email" class="form-control" type="email" placeholder="Your email" name="contact_email">
                    <textarea name="contact_message" placeholder="Your message" class="form-control" id="contact_message" cols="30" rows="10"></textarea>
                    <input type="submit" class="btn-submit btn-link" id="contact-us-btn" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <div class="social-links">
        <a href="javascript:void(0)" class="fb-link"></a>
        <a href="javascript:void(0)" class="tw-link"></a>
        <a href="javascript:void(0)" class="g-plus-link"></a>
        <a href="javascript:void(0)" class="in-link"></a>
    </div>
    <p class="copyright">All Rights reserved “AmericoIPA” 2018</p>
</footer>