<section class="contacts-members"> 
    <div class="contacts-spacer-2"></div>
      <div class="contacts-block">
          <h4 class="contact-title-big">CONTACT US</h4>
          <div class="contacts-block-inner">
              <div class="contact-us-form">
                  <h5 class="title-bold title-bold-big">Thank you for visiting our website. There are many different ways to contact us.</h5>
              </div>
              <div class="contacts-two-col">
                  <div class="contacts-left">
                      <h3 class="title-bold">MEMBER AND PROSPECTIVE MEMBER INQUIRIES</h3>
                      <p>
                          If you are a Prospect member or would like to become one, please call our Customer Services Department at 800-708-3230. We
                          have representatives available weekdays between the hours of 8 a.m. and 5 p.m. Pacific Time.
                          Bilingual representatives are available to assist you. You can also email us at memberservices@prospectmedical.com.
                      </p>
                      <p>
                          For individuals who are Medicare eligible, we also have our Seniors VIP Line at 877-619-5900, where bilingual representatives
                          are available to assist you. Or, you can email us at seniorsvip@prospectmedical.com
                      </p>
                      <p>
                          Members with hearing or speech impairments, please dial 711 for California Relay TTD/TTY assistance
                      </p>
                  </div>
                  <div class="contacts-right">
                      <div class="contact-form">
                          <h5 class="sub-title">Contact us</h5>
                          <contact-form></contact-form>
                      </div>
                  </div>
              </div>
              <h4 class="title-bold title-2">PROVIDER INQUIRIES</h4>
              <p>
                  For provider inquiries (regarding eligibility, referrals or claims status), you can reach us at provider.services@prospectmedical.com,
                  or 800-708-3230. Hours of operation are weekdays between the hours of 8 a.m. and 5 p.m. Pacific Time.
              </p>
          </div>
      </div> 
      <div class="contacts-spacer"></div>
  </section>