<div>
    <section class="section-health section-bg-cover"> 
        <div class="table-outer">
            <div style="overflow-x:auto;">
                <table>
                    <tr>
                        <th>Health Plan</th>
                        <th>Product Line</th>
                        <th>Provider Phone</th>
                        <th>Member Phone</th>
                    </tr>
                    <tr class="first-tr">
                        <td>Aetna Health of California, Inc.</td>
                        <td>Commercial, POS</td>
                        <td>800-624-0756</td>
                        <td>800-624-0756</td>
                    </tr>
                    <tr>
                        <td>Aetna Health of California, Inc.</td>
                        <td>Commercial, POS</td>
                        <td>800-624-0756</td>
                        <td>800-624-0756</td>
                    </tr>
                    <tr>
                        <td>Aetna Health of California, Inc.</td>
                        <td>Commercial, POS</td>
                        <td>800-624-0756</td>
                        <td>800-624-0756</td>
                    </tr>
                    <tr>
                        <td>Aetna Health of California, Inc.</td>
                        <td>Commercial, POS</td>
                        <td>800-624-0756</td>
                        <td>800-624-0756</td>
                    </tr>
                    <tr>
                        <td>Aetna Health of California, Inc.</td>
                        <td>Commercial, POS</td>
                        <td>800-624-0756</td>
                        <td>800-624-0756</td>
                    </tr>
                    <tr>
                        <td>Aetna Health of California, Inc.</td>
                        <td>Commercial, POS</td>
                        <td>800-624-0756</td>
                        <td>800-624-0756</td>
                    </tr>
                    <tr>
                        <td>Aetna Health of California, Inc.</td>
                        <td>Commercial, POS</td>
                        <td>800-624-0756</td>
                        <td>800-624-0756</td>
                    </tr>
                    <tr>
                        <td>Aetna Health of California, Inc.</td>
                        <td>Commercial, POS</td>
                        <td>800-624-0756</td>
                        <td>800-624-0756</td>
                    </tr>
                    <tr>
                        <td>Aetna Health of California, Inc.</td>
                        <td>Commercial, POS</td>
                        <td>800-624-0756</td>
                        <td>800-624-0756</td>
                    </tr><tr>
                            <td>Aetna Health of California, Inc.</td>
                            <td>Commercial, POS</td>
                            <td>800-624-0756</td>
                            <td>800-624-0756</td>
                        </tr>
                        <tr>
                            <td>Aetna Health of California, Inc.</td>
                            <td>Commercial, POS</td>
                            <td>800-624-0756</td>
                            <td>800-624-0756</td>
                        </tr>
                </table>
            </div>
        </div>
    
        <div class="mobile-table">
            <h1 class="subtile">Health plans</h1>
            <div class="mobile-table-innner">
                <div class="plan-block">
                    <div class="plan-item">
                        <h5 class="plan-item-title">Health Plan</h5>
                        <p>Aetna Health of California, Inc.</p>
                    </div>
                    <div class="plan-item">
                        <h5 class="plan-item-title">Product Line</h5>
                        <p>Commercial, POS</p>
                    </div>
                    <div class="plan-item">
                        <h5 class="plan-item-title">Provider Phone</h5>
                        <p>800-624-0756</p>
                    </div>
                    <div class="plan-item">
                        <h5 class="plan-item-title">Member Phone</h5>
                        <p>800-624-0756</p>
                    </div>
                </div>
                <div class="plan-block">
                    <div class="plan-item">
                        <h5 class="plan-item-title">Health Plan</h5>
                        <p>Aetna Health of California, Inc.</p>
                    </div>
                    <div class="plan-item">
                        <h5 class="plan-item-title">Product Line</h5>
                        <p>Commercial, POS</p>
                    </div>
                    <div class="plan-item">
                        <h5 class="plan-item-title">Provider Phone</h5>
                        <p>800-624-0756</p>
                    </div>
                    <div class="plan-item">
                        <h5 class="plan-item-title">Member Phone</h5>
                        <p>800-624-0756</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pre-footer-spacer"></div>
</div>